@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #f5f8f9;
  .title {
    margin: 5px auto;
  }
  .button {
    margin-top: auto;
  }
  &--donate {
    width: 95%;
    align-self: center;
  }
  .input {
    border: none;
    height: 25px;
    outline: none;
    padding: 4px;
    padding-left: 17px;
    font-size: 16px;
    box-shadow: $box-shadow;
    &__currency {
      position: relative;
      display: block;
      &:after {
        color: #888888;
        content: '$';
        font-size: 12px;
        position: absolute;
        display: block;
        height: 100%;
        top: 0;
        left: 10px;
        line-height: 25px;
      }
    }
  }
}
