@import '../../styles/variables';

.button {
  text-align: center;
  padding: 0.4em 1em;
  margin: 0.5em 1em;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  transition: all 500ms $ease-in--quint;
  cursor: pointer;
  outline: none;
  &:hover {
    box-shadow: -1px 1px 4px 5px rgba(0, 0, 0, 0.12);
  }
  &--primary {
    background: none;
    border: 2px solid $palette--primary;
    color: $palette--primary;
    &:hover {
      background: $palette--primary;
      color: $palette--white;
    }
  }
  &--accent {
    background: $palette--accent;
    color: $palette--white;
    border: 2px solid $palette--accent;
    &:hover {
      background: $palette--primary;
      color: $palette--white;
    }
  }
  &--disabled {
    background: #c8cddb !important;
    border: 2px solid #c8cddb !important;
  }
}
