@import '../../styles/variables';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto;
  .tile {
    margin: 2px;
    background: $palette--accent;
    border-radius: 5%;
    padding: 3px 20px;
    width: 22px;
    box-shadow: $box-shadow;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: all 0.5s $ease-in--quint;
    &:hover {
      background: $palette--primary;
    }
    &--active {
      background: $palette--primary;
    }
  }
}
