.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  .text {
    margin: 0.5em auto;
    padding: 0 0.4em;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    &__dollar {
      padding: 0.2em;
      color: #23a562;
      font-size: 2rem;
      background: #ffffff;
      border-radius: 5%;
      overflow: hidden;
    }
    &__description {
      margin-top: 0;
      font-size: 0.8rem;
      color: #555555;
    }
  }
}
