@import '../../styles/variables';

.container {
  width: 95%;
  align-self: center;
  .input {
    border: none;
    height: 20px;
    outline: none;
    padding: 4px;
    padding-left: 17px;
    font-size: 16px;
    color: #333333;
    box-shadow: $box-shadow;
    &__currency {
      position: relative;
      display: block;
      &:after {
        color: #888888;
        content: '$';
        font-size: 12px;
        position: absolute;
        display: block;
        height: 100%;
        top: 0;
        left: 10px;
        line-height: 25px;
      }
    }
  }
}

.button {
  margin-top: auto;
  font-size: 1rem;
  font-weight: 600;
}
